@font-face {
  font-family: "Epilogue-Regular";
  src: url(/fonts/Epilogue-Regular.ttf);
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Epilogue-Bold";
  src: url(/fonts/Epilogue-Bold.ttf);
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Epilogue-Medium";
  src: url(/fonts/Epilogue-Medium.ttf);
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Epilogue-SemiBold";
  src: url(/Epilogue-SemiBold.ttf);
  text-rendering: optimizeLegibility;
}

@import "tailwindcss";

@theme {
  --font-epiReg: Epilogue-Regular, "sans-serif";
  --font-epiBold: Epilogue-Bold, "sans-serif";
  --font-epiMed: Epilogue-Medium, "sans-serif";
  --font-epiSBold: Epilogue-SemiBold, "sans-serif";
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  display: flex;
  min-height: 100dvh;
}

/* Para Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.tres-lineas {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

